{% extends 'base.html' %} 

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django CRUD</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos molestias accusamus
            eligendi tempore beatae neque vero. Voluptates pariatur aspernatur temporibus
            labore in quo beatae molestias minus aperiam dicta quidem ex accusantium amet
            hic quos fuga assumenda, maiores excepturi quas saepe, fugiat et. Debitis eum
            expedita non et ipsa. Nam placeat explicabo odit modi reprehenderit nostrum,
            libero adipisci ab velit voluptatem voluptatibus nobis sapiente voluptas
            debitis. Magnam possimus nisi eius vitae nostrum ipsum provident voluptatem,
            nemo corporis et sapiente aliquam assumenda nobis, perferendis iusto! Doloremque
            quis ut deserunt, nulla laborum voluptatibus est, minima rem nisi dolorem saepe
            cumque soluta sapiente culpa! </p>

            <div class="text-center">
                <a class="btn btn-primary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-secondary" href="/signup/">
                    Signup
                </a>
            </div>

    </section>
</main>

{% endblock %}
