{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Update tasks</h1>    
            <p class="text-secondary">{{task.title}}</p>
        
            {{error}}
            
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <button class="btn btn-primary">Update</button>
            </form>

            <div class="mt-5 d-flex">
            
                <form action="{% url 'completed_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-success">Complete</button>
                </form>
            
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        
        </div>
    </div>
</main>

{% endblock %}
